/* Dashboard.css */
.dashboard-container {
  max-width: 800px;
  margin: 80px auto;
  padding: 20px;
}

input,
select {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dashboard-main-container button {
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.deleteBtn {
  background-color: #ff0000;
}

.deleteBtn:hover {
  background-color: #cc0000;
}

.addBtn {
  background-color: #4caf50;
}
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
}

.button-container button {
  width: 70%;
  margin: 0 5px;
}

.jobs-h2 {
  border: none;
  padding-top: 0;
}

.dashboard-main-container h2 {
  border-top: #cccccc77 solid 1px;
  padding-top: 20px;
}

.manage-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
