/* .footer-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgb(86, 202, 228), rgb(23, 40, 106));
  color: white;
  height: 10vh;
  position: absolute;
  margin-top: 5vh;
  bottom: 0;
  left: 0;
  top: 100%;
} */
.footer-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgb(86, 202, 228), rgb(23, 40, 106));
  color: white;
  height: 7vh;
  margin-top: auto; /* Fügt automatisch den benötigten Platz hinzu, um den Footer nach unten zu schieben */
}
.copyright {
  margin: 0 30px;
}

.social-media-icons i {
  margin: 0 4px;
  font-size: 1.2em;
}

@media screen and (max-width: 768px) {
  .footer-container {
    height: 10vh;
  }
}
