.services-container {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services-container p {
  margin: 10px;
}

.services-banner-container {
  background-color: rgba(128, 128, 128, 0.4);
  min-width: 340px;
  max-width: 100%;
  border: none;
  border-radius: 15px;
  margin: 20px;
  padding: 6px;
  box-sizing: border-box;
  display: flex;
  box-shadow: 0 0 20px rgba(128, 128, 128, 0.8);
}

.services-banner {
  min-width: 300px;
  max-width: 100%;
  height: 30vh;
  object-fit: cover;
  margin: 10px 10px 10px 10px;
  border: none;
  border-radius: 15px;
}

.services-container h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 10px;
  text-shadow: #00eaffb3 0px 0px 30px;
}

.services-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.service-list-item {
  margin: 10px;
  padding: 15px;
  border: 1px solid rgb(39, 59, 82);
  border-radius: 15px;
  background-color: rgba(37, 37, 37, 0.8);
  box-shadow: 0 0 20px rgba(128, 128, 128, 0.8);
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service-list-item h2 {
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 10px;
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 10px;
}

.service-list-item p {
  margin: 10px;
  background-color: rgba(128, 128, 128, 0.4);
  padding: 0.7rem;
  border-radius: 10px;
}
